extends ../layout
block vue
    .live_main
        .item(v-if="items&&items.length>0" v-for='(it,ind) in items')
            .pad
                .img(:style="rbg(it.gameImg)"  @click='gameDet(it.acType,it.gamePlatformType,it.gameCode,it.jumpOut)')
                    .free_play(v-if="!user && it.acType==1") 可试玩
                .foot
                    h3 {{it.gamePlatformType}}真人
                    p {{it.gameLiveFeatures}}


        include ../data_null





block js
    script(type='text/javascript' src="../script/fl_zr.js")
