extends ../layout
block body
    .select_mian(onclick="api.closeFrame()" )
    .select_close(onclick="api.closeFrame()" )




block js
    script(type='text/javascript' src="../script/iosSelect.js")
    script(type='text/javascript' src="../script/select.js")
