
.icon-menun:before {
  content: "\e900";
}
.icon-brand:before {
  content: "\e901";
}
.icon-cog:before {
  content: "\e902";
}
.icon-weixin:before {
  content: "\e903";
}
.icon-deposit:before {
  content: "\e904";
}
.icon-call:before {
  content: "\e905";
}
.icon-shoucang:before {
  content: "\e906";
}
.icon-help8:before {
  content: "\e907";
}
.icon-youhuiquan:before {
  content: "\e908";
}
.icon-app:before {
  content: "\e909";
}
.icon-msg:before {
  content: "\e90a";
}
.icon-zhanghuxinxi:before {
  content: "\e90b";
}
.icon-help4:before {
  content: "\e90c";
}
.icon-help1:before {
  content: "\e90d";
}
.icon-help7:before {
  content: "\e90e";
}
.icon-class:before {
  content: "\e90f";
}
.icon-kefu2:before {
  content: "\e910";
}
.icon-help6:before {
  content: "\e911";
}
.icon-help3:before {
  content: "\e912";
}
.icon-xiaoxi:before {
  content: "\e913";
}
.icon-help5:before {
  content: "\e914";
}
.icon-kefu:before {
  content: "\e915";
}
.icon-help2:before {
  content: "\e916";
}
.icon-eye-blocked:before {
  content: "\e917";
}
.icon-msg-plus:before {
  content: "\e918";
}
.icon-volume-medium:before {
  content: "\e919";
}
.icon-gift:before {
  content: "\e91a";
}
.icon-home:before {
  content: "\e91b";
}
.icon-info:before {
  content: "\e91c";
}
.icon-screen-rotate-2:before {
  content: "\e91d";
}
.icon-screen-rotate:before {
  content: "\e91e";
}
.icon-user:before {
  content: "\e91f";
}
.icon-user-b:before {
  content: "\e920";
}
.icon-search:before {
  content: "\e921";
}
.icon-phone-code:before {
  content: "\e922";
}
.icon-trans:before {
  content: "\e923";
}
.icon-menu:before {
  content: "\e924";
}
.icon-eye:before {
  content: "\e925";
}
.icon-lock:before {
  content: "\e926";
}
.icon-loop:before {
  content: "\e927";
}
.icon-phone:before {
  content: "\e928";
}
.icon-danger:before {
  content: "\e929";
}
.icon-warning:before {
  content: "\e92a";
}
.icon-like:before {
  content: "\e92b";
}
.icon-check:before {
  content: "\e92c";
}
.icon-close:before {
  content: "\e92d";
}
.icon-chevron-right:before {
  content: "\e92e";
}
.icon-chevron-left:before {
  content: "\e92f";
}
.icon-plus:before {
  content: "\e930";
}
