

// 生成订单 order
.order
    .item-1
        padding 17px 0 
        // margin 10px 0 
        background #242424 
        overflow hidden 
        .img
            width 18px 
            position relative 
            top 4px 
            left 4px 
        
        .pay-box
            float left 
            border-top 1px solid #635a5a 
            padding-top 21px 
            margin-top 20px 
            img
                width 35%!important 
                float left 
                height inherit!important 
                border 5px solid #fff 
                border-radius 4px 
            
            p
                padding 0 20px 
                text-align left 
                font-size 15px 
                line-height 22px 
                float left 
                width 60% 
            
        
    
    .cell-item 
        background #242424 
        .weui-cell
            padding-left 0 
            padding-right 0 
            text-align left 
            &:before
                left 0!important 
                border-color #6b6868 
            
            .vux-label
                margin-left 8px 
                font-size 0.29rem 
                color @gold 
            
            .weui-cell__ft
                margin-right 6px 
                font-size 0.32rem 
            
        
    

